<a href="https://colab.research.google.com/github/praveen310194/NLP/blob/main/Count_Vectorizer_vs_Tfidf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TF-IDF** means Term Frequency - Inverse Document Frequency. **TF-IDF** is better than **Count Vectorizers** because it not only focuses on the frequency of words present in the corpus but also provides the importance of the words.

Functin to convert to vector

In [1]:
def df_doc(vector,msg):
  matrix = vector.fit_transform(msg)
  return df(matrix.toarray(),columns=vector.get_feature_names())

**Count Vectorizer**

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from pandas import DataFrame as df

In [3]:
msg1 = ['call me after class','can i call you','please call cab...please']

In [4]:
count_vect = CountVectorizer()

In [5]:
df_doc(count_vect,msg1)

   after  cab  call  can  class  me  please  you
0      1    0     1    0      1   1       0    0
1      0    0     1    1      0   0       0    1
2      0    1     1    0      0   0       2    0

Tfidf Vectorizer

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
tf_vect = TfidfVectorizer()

In [8]:
df_doc(tf_vect,msg1)

      after       cab      call  ...        me   please       you
0  0.546454  0.000000  0.322745  ...  0.546454  0.00000  0.000000
1  0.000000  0.000000  0.385372  ...  0.000000  0.00000  0.652491
2  0.000000  0.432385  0.255374  ...  0.000000  0.86477  0.000000

[3 rows x 8 columns]